<h3>Board#new.</h3>

<%= form_for @board do |f| %>
  situation:<%= f.text_field(:situation) %><br>
  turn:<%= f.text_field(:turn)%><br>
  bluestock:<%= f.text_field(:blueStock) %><br>
  whitestock:<%= f.text_field(:whiteStock) %><br>
  victory:<%= f.text_field(:victory) %><br>
  <%= submit_tag("update") %>
<% end %>
